@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Radio+Canada:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Radio Canada", sans-serif;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(0, 42, 56, 0.8);
  position: absolute;
  top: -130vw;
  left: calc(50% - 75vw);
  border-radius: 40%;
  animation: rotate 20s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(224, 44, 40, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30%;
  animation: rotate 50s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
}

.navbar-link:hover {
  transform: scale(1.7);
  transition: all 0.5s;
}

.section-1-heading {
  font-size: 8rem;
  font-weight: 700;
  text-transform: downcase;
  position: absolute;
  top: 16vw;
  left: 50%;
  transform: translateX(-50%);
  color: #eee;
  text-align: center;
  background-color: rgb(64, 64, 64);
  width: 30rem;
  padding: 0.2rem 0.2rem;
  border-radius: 0.8rem;
  opacity: 0.6;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(0, 42, 56, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(224, 44, 40, 0.7), -0.1rem,
    -0.1rem 0.2rem rgba(224, 44, 40, 0.7);
}

.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;
  font-size: 3rem;
}

.album-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.album-detail {
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  /* box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee; */
  position: relative;
}

.album-img {
  width: 100%;
  border-radius: 0.5rem;
}

.album-name {
  font-size: 2.2rem;
  font-weight: 700;
  color: #796458;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.album-name span {
  font-size: 1.7rem;
}

.album-tracks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.album-tracks li {
  font-size: 1.5rem;
  color: #505050;
}

.song-btn {
  background-color: #fab34a;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
}

.story {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 69, 69, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s;
}

.change.story {
  transform: scale(1);
  border-radius: 0;
}
.change.story-btn {
  transform: rotate(405deg);
}

.story-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.album-tracks-story {
  font-size: 1.8rem;
  color: #fff;
  text-align: justify;
  letter-spacing: 0.2rem;
  text-indent: 2rem;
}
