/* @import "blob.css"; */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Radio+Canada:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Radio Canada", sans-serif;
  font-weight: 500;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.top-link {
  transition: all 0.5s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 40px;
  height: 40px;
  background-color: #e8c58c;
  z-index: 100;
  opacity: 0.4;
}

.top-link.show {
  visibility: visible;
  opacity: 0.6;
}

.top-link.hide {
  visibility: hidden;
  opacity: 0;
}

svg {
  fill: #fff;
  width: 24px;
  height: 12px;
}

svg:hover {
  /* background-color: #e8e8e8; */
  fill: #2b2a40;
}

.section-1 {
  width: 100%;
  height: 60vh;
  background-color: #fff;
  position: relative;
}

.floating-bg {
  width: 145vw;
  height: 145vw;
  background-color: rgba(0, 42, 56, 0.8);
  position: absolute;
  top: -130vw;
  left: calc(50% - 75vw);
  border-radius: 35%;
  animation: rotate 70s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(224, 44, 40, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 40%;
  animation: rotate 90s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
}

.navbar-link:hover {
  transform: scale(1.7);
  transition: all 0.5s;
}

.section-1-heading {
  font-size: 8rem;
  font-weight: 700;
  text-transform: lowercase;
  position: absolute;
  top: 12vw;
  left: 50%;
  transform: translateX(-50%);
  color: #eee;
  text-align: center;
  /* background-color: rgb(64, 64, 64); */
  width: 30rem;
  padding: 0.2rem 0.2rem;
  border-radius: 0.8rem;
  opacity: 0.6;
}

/* .logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(0, 42, 56, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(224, 44, 40, 0.7), -0.1rem,
    -0.1rem 0.2rem rgba(224, 44, 40, 0.7);
} */

.section-2 {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15rem;
}

.section-heading-2 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(232, 227, 227);
  text-align: center;
  opacity: 0.8;
  text-shadow: 2rem 2rem 4rem #aaa;
  padding-top: 2rem;
  z-index: 300;
  /* text-transform: lowercase; */
}

.band-wrapper {
  /* display: flex; */
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
  top: 400rem;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 10% 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.4);
  line-height: 0;
}

.box > img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  margin-top: -10rem;
  color: #fff;
}

.box:hover { flex: 1 1 20%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

.member {
  width: 30rem;
  height: 50rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
}

.member:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
  transition: box-shadow 0.5s;
}

.member:first-child {
  align-self: flex-end;
}

.member:last-child {
  align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: #f08e0f;
}

.member-text {
  font-size: 1.2rem;
  margin: 2.5rem 0;
  text-align: justify;
}

.member-text::first-letter {
  margin-left: 1rem;
}

.band-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.member-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.member-name {
  font-size: 1.8rem;
  font-weight: bolder;
}

.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-size: 3rem;
}

.blobs {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}

.line-display {
  display: inline-block;
  z-index: 600;
  /* text-transform: lowercase; */
}

.circle-1 {
  /* display: inline-block; */
  position: absolute;
  right: 51%;
  bottom: 20%;
  top: 15%;
  background: plum;
  width: 80px;
  height: 80px;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 10s linear infinite;
  z-index: -100;
<<<<<<< HEAD
  /* opacity: .5; */
=======
  opacity: .5;
>>>>>>> 3be3444f23d65165d850307567ef6c8e694cb173
}

@keyframes morph {
  0%,
  100% {
    border-radius: 90% 60% 70% 40% / 40% 60% 50% 60%;
  }
  34% {
    border-radius: 70% 80% 50% 50% / 50% 70% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.circle-2 {
  /* display: inline-block; */
  position: absolute;
  right: 46%;
  top: 10%;
  background: plum;
  width: 75px;
  height: 75px;
  border-radius: 60% 40% 60% 70% / 50% 80% 70% 60%;
  /* overflow: hidden; */
  animation: morph-2 10s linear infinite;
<<<<<<< HEAD
  /* opacity: .1; */
=======
  opacity: .1;
>>>>>>> 3be3444f23d65165d850307567ef6c8e694cb173
  /* z-index: 120; */
}

@keyframes morph-2 {
  0%,
  100% {
    border-radius: 60% 80% 40% 50% / 60% 40% 50%;
  }
  34% {
    border-radius: 70% 80% 50% 50% / 50% 70% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.circle-3 {
  /* display: inline-block; */
  position: absolute;
  right: 49%;
  top: 16%;
  background: plum;
  width: 80px;
  height: 80px;
  border-radius: 60% 40% 60% 70% / 50% 80% 70% 60%;
  /* overflow: hidden; */
  animation: morph-3 10s linear infinite;
<<<<<<< HEAD
  /* opacity: .5; */
=======
  opacity: .5;
>>>>>>> 3be3444f23d65165d850307567ef6c8e694cb173
}

@keyframes morph-3 {
  0%,
  100% {
    border-radius: 60% 80% 40% 50% / 60% 40% 50%;
  }
  34% {
    border-radius: 70% 80% 50% 50% / 50% 70% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.circle-4 {
  /* display: inline-block; */
  position: absolute;
  right: 54%;
  top: 20%;
  background: plum;
  width: 75px;
  height: 75px;
  border-radius: 60% 40% 60% 70% / 50% 80% 70% 60%;
  /* overflow: hidden; */
  animation: morph-3 15s linear infinite;
  z-index: -150;
<<<<<<< HEAD
  /* opacity: .2; */
=======
  opacity: .2;
>>>>>>> 3be3444f23d65165d850307567ef6c8e694cb173
}

@keyframes morph-3 {
  0%,
  100% {
    border-radius: 60% 80% 40% 50% / 60% 40% 50%;
  }
  34% {
    border-radius: 70% 80% 50% 50% / 50% 70% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.circle-5 {
  /* display: inline-block; */
  position: absolute;
  right: 41.5%;
  top: 20%;
  bottom: 8%;
  background: plum;
  width: 70px;
  height: 70px;
  border-radius: 60% 40% 60% 70% / 50% 80% 70% 60%;
  /* overflow: hidden; */
  animation: morph-3 10s linear infinite;
  z-index: -120;
}

@keyframes morph-3 {
  0%,
  100% {
    border-radius: 60% 80% 40% 50% / 60% 40% 50%;
  }
  34% {
    border-radius: 70% 80% 50% 50% / 50% 70% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.circle-6 {
  /* display: inline-block; */
  position: absolute;
  right: 44%;
  top: 20%;
  background: plum;
  width: 73px;
  height: 73px;
  border-radius: 60% 40% 60% 70% / 50% 80% 70% 60%;
  /* overflow: hidden; */
  animation: morph-3 5s linear infinite;
  z-index: -80;
}

@keyframes morph-3 {
  0%,
  100% {
    border-radius: 60% 80% 40% 50% / 60% 40% 50%;
  }
  34% {
    border-radius: 70% 80% 50% 50% / 50% 70% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.album-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  margin-left: 10rem;
}

.album-detail {
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  /* box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee; */
  position: relative;
}

.album-img {
  width: 100%;
  border-radius: 0.5rem;
}

.album-name {
  font-size: 2.2rem;
  font-weight: 700;
  color: #796458;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.album-name span {
  font-size: 1.7rem;
}

.album-tracks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.album-tracks li {
  font-size: 1.5rem;
  color: #505050;
}

.song-btn {
  background-color: rgb(179, 178, 175);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
}

.story {
  width: 100%;
  height: 90%;
  /* background-color: rgba(253, 69, 69, 0.9); */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s;
}

.change.story {
  transform: scale(1);
  border-radius: 0;
}
.change.story-btn {
  transform: rotate(405deg);
}

.story-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.album-tracks-story {
  font-size: 1.5rem;
  color: #fff;
  /* text-align: justify; */
  /* letter-spacing: 0.2rem; */
  /* text-indent: 2rem; */
  line-height: 2rem;
}

.els-millors {
  background-color: #e6bf80;
  opacity: 0.9;
}

.milles {
  background-color: #5c1213;
  opacity: 0.6;
}

.atletes {
  background-color: #fccd01;
  opacity: 0.9;
}

.competeixo {
  background-color: #14142c;
  opacity: 0.9;
}

.bona-gent {
  background-color: #ed084f;
  opacity: 0.9;
}

.malalta {
  background-color: #dc2928;
  opacity: 0.9;
}

.gallery {
  height: 93vh;
  margin-top: 600px;
  background-color: #14142c;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5.5vw);
  gap: 1rem;
  padding: 1.5rem;
  justify-content: center;
}
.gallery__item {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}
.gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6 / 7;
}
.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}
.gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}
.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
.gallery__item--7 {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}
.gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}
.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}
.gallery__item--10 {
  grid-row: 6 / span 3;
  grid-column: 1 / 2;
}
.gallery__item--11 {
  grid-row: 6 / span 3;
  grid-column: 2 / span 2;
}
.gallery__item--12 {
  grid-row: 6 / span 3;
  grid-column: 4 / 5;
}
.gallery__item--13 {
  grid-row: 5 / span 4;
  grid-column: 5 / span 3;
}
.gallery__item--14 {
  grid-row: 6 / span 3;
  grid-column: 8 / -1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 2s;
}

.gallery__img:hover {
  transform: scale(1.5);
}

.section-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.form-container {
  width: 80%;
  height: 40%;
  background-color: #fffeee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.3rem 0.3rem 0.3rem #ccc, -0.1rem -0.1rem;
  border: none;
  perspective: 100rem;
}

.form-img {
  width: 30rem;
  /* background-color: rgba(50, 231, 255, 0.8); */
  padding: 5rem;
  opacity: 0.8;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: 0.5rem;
  transform: rotateY(20deg);
  transition: all 0.5s;
}

.form-img:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form {
  width: 45rem;
  background-color: #fffeee;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all 0.5s;
}

.contact-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 2rem #ddd, inset -0.1rem -0.1rem 2rem #ddd;
}

.contact-form textarea {
  max-height: 15rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}

.contact-form input[type="submit"] {
  background-color: rgba(50, 231, 255, 0.8);
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
  background-color: #32e7ff;
}

.footer {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #444;
  padding: 3rem;
  display: flex;
  justify-content: center;
  background-color: #fcd230;
}

.scroll-up-btn {
  width: 5rem;
  height: 5rem;
  background-color: rgba(50, 231, 255, 0.8);
  position: fixed;
  right: 5rem;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 95%;
  font-size: 5rem;
  text-align: center;
  font-family: "Radio Canada", sans-serif;
  color: #540032;
  z-index: 1000;
}

p.bg {
  font-size: 46px;
  text-align: center;
  line-height: 50px;
  font-weight: 800;
  text-transform: uppercase;
  background: url(images/gal-17.gif) 0 0 / cover no-repeat;
  color: #de466c;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
